.bezier_curve, .bezier_curve_other{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-curve 3s ease-in-out forwards;
    stroke: #FF7A00;
    stroke-width: 2;
    fill: none;
    z-index: -1;
  }

  .bezier_curve_other{
    stroke: #8F59B9;
    // z-index: 10000;
  }

.bezier_curve_disable{
    display:none;
}
  
  @keyframes draw-curve {
    to {
      stroke-dashoffset: 0;
      
    }
  }